################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Uno/.vs/Uno/v16/Server/sqlite3
/Variables/.vs/Variables/v16/Server/sqlite3
